* {
  font-size: 10px;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.newsletter-card {
  background: #FFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  border-radius: 4px;
  display: inline-block;
  /*not full width*/
  padding: 4rem;
}

/*card title*/
.card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}

h3 {
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #0E105A;
  /*rgba also*/
  opacity: 0.8;
  max-width: 16rem;
  /*Wrap */
  margin: 0 0 0 2rem;
}

/*input box*/
.input-box p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: rgba(31, 32, 65, 0.75);
  max-width: 28rem;
}

p, .input-box {
  margin-bottom: 2rem;
}

input {
  font-size: 1.6rem;
  text-indent: 1.5rem;
  /*placeholder text also*/
  width: 28rem;
  height: 4.4rem;
  border-style: solid;
  /*default is none*/
  border-width: 1px;
  /*default is 0*/
  border-color: rgba(31, 32, 65, 0.25);
  border-radius: 1rem;
  color: rgba(31, 32, 65, 0.5)
    /*input text color*/
}

::placeholder {
  font-size: 1.4rem;
  color: rgba(31, 32, 65, 0.25);
}

input, .button:focus {
  outline: none;
}

/*default: Webkit browsers use outline: 5px auto -webkit-focus-ring-color;.
On Macs -webkit-focus-ring-color is blue rgb(94, 158, 214) (or #5E9ED6),
but on Windows and Linux it’s gold rgb(229, 151, 0) (or #E59700)*/
input:focus::placeholder {
  color: transparent !important;
}

/* button */
.button {
  border-style: none;
  position: relative;
  /*for arrow's absolute position */
  border-radius: 22px;
  width: 28rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(262.73deg, #A49CFF 11.74%, #F78BF9 92.89%);
  cursor: pointer;
}

.button span {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}

.arrow {
  position: absolute;
  right: 2rem;
  transition: transform .5s;
}

/*hover effect*/
.button:hover {
  box-shadow: 0 0 10px rgba(31, 32, 65, 0.1);
}

.button:hover .arrow {
  transform: translateX(1rem);
}
